## IBM Applied D.S Capstone Project
### Viral Patel
#### Week 3 Notebook 1: Build a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name in Toronto.

### 1. Import Libraries

In [1]:
!conda install -c conda-forge lxml --yes
import requests
import lxml.html as lh
import pandas as pd
print("Libraries imported.")

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Did not find path entry C:\Users\virpa\Anaconda3\bin
Libraries imported.

### 2. Scrap data from Wikipedia page into a DataFrame

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')
r = requests.get(url)

In [3]:
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postal Code
"
2:"Borough
"
3:"Neighbourhood
"

### Append the data into the respective lists

In [5]:
size_of_col = 3
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=size_of_col:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

### Create a new DataFrame from the three lists

In [6]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df = df.replace(r'\n','', regex=True) 
df.columns = ['PostalCode', 'Borough', 'Neighborhood']
df.drop(df.tail(1).index,inplace=True)
df.tail()

,PostalCode,Borough,Neighborhood
356,M5Z,Not assigned,Not assigned
357,M6Z,Not assigned,Not assigned
358,M7Z,Not assigned,Not assigned
359,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
360,M9Z,Not assigned,Not assigned

### 3. Drop cells with a borough that is "Not assigned"

In [7]:
df = df[df.Borough != "Not assigned"].reset_index(drop=True)
df.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### 4. Group neighborhoods in the same Borough

In [8]:
df = df.replace(r'/',', ', regex=True)

### 5. For Neighborhood="Not assigned", make the value the same as Borough

In [9]:
for index, row in df.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]

In [10]:
df.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### 6. Print the number of rows of the cleaned dataframe

In [12]:
print(df.shape)

(207, 3)

In [13]:
df.to_csv('CapstoneCanadaPre_part1_week3.csv')